@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #673ab7,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

@use '@material/circular-progress/index' as circular-progress;
@use './typography.scss';

:root {
  --mdc-theme-primary: #673ab7;
  --mdc-theme-secondary: #676778;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: color-palette.$red-900;
}

html,
body {
  background-color: #9caccb;;
  color: theme.$on-surface;
}

a {
  color: #673ab7;
}
a:hover {
  color: color.scale(#673ab7, $lightness: -35%);
}

.surface-circular-progress {
  @include circular-progress.color(theme.$surface);
}
