@use './scss/utilities/index.scss';

:root {
    color-scheme: light;
}

html, body, #app {
    height: 100%;
    margin: 0;
    user-select: none;
}

#app {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none; 
}
